.btn-boston {
  background-color: rgb(0, 131, 71);
  color: white;
  border-color: white;
  box-shadow: 10px 5px 5px black;
  margin-bottom: 20px;
}

.btn-boston:hover {
  background-color: white;
  border-color: rgb(0, 131, 71);
  color:rgb(0, 131, 71);
}

.btn-delete {
  background-color: rgb(0, 131, 71);
  -webkit-text-fill-color: black;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 0.25px;
  box-shadow: 10px 5px 5px black;
  margin-bottom: 20px;
}

.btn-delete:hover {
  background-color: black;
  border-color: rgb(0, 131, 71);
  -webkit-text-fill-color: rgb(0, 131, 71);
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 0.25px;
}
